/* Actions.css */

.actions-container {
    position: relative;
    display: inline-block;
  }
  
  .menu-icon {
    cursor: pointer;
    user-select: none;
    font-size: large;
  }
  
  .menu {
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 8px;
  }
  
  .menu-item {
    cursor: pointer;
    padding: 8px;
    &:hover {
      background-color: #f0f0f0;
    }
  }
  